# Установить автоконвертацию для всех текстовых файлов
* text=auto

# Явно указать, что .js файлы должны использовать LF (Unix style)
*.js text eol=lf

# Явно указать, что .css файлы должны использовать LF (Unix style)
*.css text eol=lf

# Явно указать, что любые другие файлы (например, изображения) не нужно конвертировать
* binary